# Configuración del Servidor
SERVER_PORT=8080
ENVIRONMENT=development

# Configuración SQL Server
SQLSERVER_HOST=localhost
SQLSERVER_PORT=1433
SQLSERVER_USER=sa
SQLSERVER_PASSWORD=YourStrong@Passw0rd
SQLSERVER_DB=go_apis_db

# Configuración MongoDB
MONGODB_URI=mongodb://localhost:27017
MONGODB_DATABASE=go_apis_db

# Configuración JWT
JWT_SECRET=tu-clave-secreta-super-segura-cambiar-en-produccion
JWT_EXPIRATION=24h

# Basic Auth (usuario:contraseña separados por comas)
BASIC_AUTH_USERS=admin:admin123,developer:dev123

# Nivel de Log
LOG_LEVEL=debug

# Base de datos activa por módulo (sqlserver o mongodb)
USER_DB_TYPE=sqlserver
PRODUCT_DB_TYPE=sqlserver
